<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <p>Hemos recibido una solicitud para realizar un presupuesto personalizado del Vigilador Virtual. A continuación los
        datos adjuntos por el cliente:</p>
    <h3>Datos de contacto:</h3>
    <ul>
        <li><strong>Nombre y apellido:</strong> {{name}}</li>
        <li><strong>Teléfono:</strong> {{phone}}</li>
        <li><strong>E-mail:</strong> {{email}}</li>
    </ul>
    <h3>Datos de presupuestación:</h3>
    <ul>
        <li><strong>Tipo de propiedad:</strong> {{propertyType}}</li>
        <li><strong>Cantidad de unidades en el edificio:</strong> {{unitNumbers}}</li>
        <li><strong>Cantidad de accesos en el edificio:</strong> {{accessNumber}}</li>
        <li><strong>¿Ya cuenta con seguridad física o vigilancia remota?:</strong> {{surveillanceType}}</li>
        <li><strong>Ubicación:</strong> {{location}}</li>
        <li><strong>¿Quién hace la consulta?:</strong> {{consultant}}</li>
    </ul>
</body>

</html>